{% extends "base1.html" %}
{% block title %}Study Quiz Hub{% endblock %}
{% block content %}
<div class="page-card p-4">
    <h1 class="mb-4">Study Quiz Hub</h1>
    <p class="mb-4 text-muted">Here are some example quiz questions to help you study Python.</p>
    <div class="table-responsive">
        <table class="table table-bordered table-hover align-middle">
            <thead class="table-primary">
                <tr>
                    <th scope="col">No.</th>
                    <th scope="col">Question</th>
                    <th scope="col">Options</th>
                    <th scope="col">Answer</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>Which function is used to take input in Python?</td>
                    <td>A. input(), B. print(), C. len(), D. type()</td>
                    <td>A</td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>Which Python data structure stores values in key:value pairs?</td>
                    <td>A. List, B. Dictionary, C. Set, D. Tuple</td>
                    <td>B</td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>Which of the following is a mutable data type in Python?</td>
                    <td>A. List, B. Tuple, C. String, D. Integer</td>
                    <td>A</td>
                </tr>
                <tr>
                    <td>4</td>
                    <td>Which of the following is used to define a function in Python?</td>
                    <td>A. func, B. def, C. function, D. define</td>
                    <td>B</td>
                </tr>
                <tr>
                    <td>5</td>
                    <td>Which of the following is used to handle exceptions in Python?</td>
                    <td>A. try-except, B. if-else, C. for loop, D. while loop</td>
                    <td>A</td>
                </tr>
                <tr>
                    <td>6</td>
                    <td>Which of the following is used to create a virtual environment in Python?</td>
                    <td>A. venv, B. virtualenv, C. env, D. pyenv</td>
                    <td>A</td>
                </tr>
                <tr>
                    <td>7</td>
                    <td>Which of the following is used to read a file in Python?</td>
                    <td>A. open(), B. read(), C. write(), D. close()</td>
                    <td>A</td>
                </tr>
                <tr>
                    <td>8</td>
                    <td>Which of the following is used to create a class in Python?</td>
                    <td>A. class, B. def, C. object, D. type</td>
                    <td>A</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
{% endblock %}