{% extends "base1.html" %}
{% block title %}Home_page{% endblock %}
{% block content %}
<h1><center>Welcome to Study Quiz Hub 👋</center></h1>
<div style="text-align: center;margin : 30px 0";>
    <p style="font-size: medium;color: blueviolet;">
        Test your knowledge with our python quiz!
    </p>
    <div style="margin: 40px 0;">
        <a href="/Quiz_page" style="background-color: brown;color: beige;
        margin:40px 0;padding: 15px 40px;
        cursor:pointer;
        margin: height 10px;">
            start quiz
        </a>
    </div>
</div>

{% endblock %}
