{% extends "base1.html" %}
{% block title %}Study Quiz Hub{% endblock %}
{% block content %}
<body style="border-width: 1px;margin: 0px; padding: 0px; border-style: solid; border-color: black;">


<pre>Study quiz hub contain various type of questions</pre>
<table border="1">
    <thead>
        <tr>
            <th>Question</th>
            <th colspan="4">Options</th>
            <th>Answer</th>
            
            </tr>
        
    </thead>
    <tbody>
        <tr>
            <td>Which function is used to take input in python ?</td>
            <td>A. input()</td>
            <td>B. print()</td>
            <td>C. len()</td>
            <td>D. type()</td>
            <td>A</td>
        </tr>
        <tr>
            <td>Which python data structure stores values in key:value pair ?</td>
            <td>A. List</td>
            <td>B. Dictionary</td>
            <td>C. Set</td>
            <td>D. Tuple</td>
            <td>B</td>
        </tr>
        <tr>
            <td>Which of the following is a mutable data type in python ?</td>
            <td>A. List</td>
            <td>B. Tuple</td>
            <td>C. String</td>
            <td>D. Integer</td>
            <td>A</td>

        </tr>
        <tr>
            <td>Which of the following is used to define a function in python ?</td>
            <td>A. func</td>
            <td>B. def</td>
            <td>C. function</td>
            <td>D. define</td>
            <td>B</td>
        </tr>
        <tr>
            <td>Which of the following is used to handle exceptions in python ?</td>
            <td>A. try-except</td>
            <td>B. if-else</td>
            <td>C. for loop</td>
            <td>D. while loop</td>
            <td>A</td>
        </tr>
        <tr>
            <td>Which of the following is used to create a virtual environment in python ?</td>
            <td>A. venv</td>
            <td>B. virtualenv</td>
            <td>C. env</td>
            <td>D. pyenv</td>
            <td>A</td>
        </tr>
        <tr>
            <td>Which of the following is used to read a file in python ?</td>
            <td>A. open()</td>
            <td>B. read()</td>
            <td>C. write()</td>
            <td>D. close()</td>
            <td>A</td>
        </tr>
            <tr>
                <td>Which of the following is used to create a class in python ?</td>
                <td>A. class</td>
                <td>B. def</td>
                <td>C. object</td>
                <td>D. type</td>
                <td>A</td>
    </tbody>
</table>
</body>
{% endblock %}
